@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme {
    --color-gsblanco: #f2f2f2;
    --color-gsgris: #635d59;
    --color-gsmenta: #79a998;
    --color-gsbosque: #688d7a;
    --color-gsoscuro: #0f1218;

    /* Definir las animaciones para que Tailwind las reconozca como clases animate- */
    --animate-divine-flow: divine-flow 10s ease infinite;
    --animate-legend-flow: legend-flow 5s linear infinite;
    --animate-shimmer: shimmer 4s infinite linear;

    @keyframes divine-flow {
        0%, 100% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
    }

    @keyframes legend-flow {
        from { background-position: 0% 50%; }
        to { background-position: 100% 50%; }
    }

    @keyframes shimmer {
        0% { transform: translateX(-100%) skewX(-15deg); }
        100% { transform: translateX(200%) skewX(-15deg); }
    
    }
}

@utility divine-gradient {
    background-image: linear-gradient(
        -45deg, 
        #ffd700, /* Oro */
        #fff9e6, /* Crema */
        #ffffff, /* Luz */
        #e0c3fc, /* Violeta pálido (Este color evita que el azul y amarillo se toquen) */
        #8ec5fc, /* Azul */
        #ffffff, /* Blanco de salida */
        #ffd700  /* Oro final */
    ) ;
    background-size: 300% 300% ;
}

@utility legend-gradient {
    background-image: linear-gradient(
        -45deg, 
        #FFFFFF,
        #eff702,
        #00F2FE, 
        #FFFFFF,
        #eff702,
        #00F2FE,
        #FFFFFF
    ) ;
    background-size: 300% 300% ;
}

/* Ocultar scrollbar horizontal */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}