*.pyc
__pycache__/
.mypy_cache/
db.sqlite3
.DS_Store
.vscode/
.env
.venv

/media/*
!/media/avatars/
/media/avatars/*
/media/reviews/*
!/media/avatars/default.png
/fixtures/*

**/migrations/*
!**/migrations/__init__.py